{
  	"trailingComma": "es5",
  	"tabWidth": 4,
  	"semi": false,
  	"singleQuote": true,
	"quoteProps": "as-needed",
	"useTabs":  true,
	"htmlWhitespaceSensitivity": "ignore",
	"vueIndentScriptAndStyle": true,
	"printWidth": 170
}